@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

.head h1{
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 20px 0px;

}

.back{
    background-color: rgba(132, 44, 44, 0.29);
    height: 100vh;
 
}
.maindiv{
    display: flex;
    align-items: center;
    justify-content: center;
}


.mondiv{
    background-color: white;
    width:500px;
    border-radius: 20px;
    text-align: center;
}

.input {
    width: 100%;
    padding: 12px;
    margin:20px 0px;
   
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .input:focus {
    outline: none;
    border-color: #007bff;
  }
  .error {
    border-color: red;
  }
  .success{
      color: green;
  }
  .inputfeedback {
    color: rgb(235, 54, 54);
      font-size: 14px;
      margin-bottom: 10px;
  }