.sidebar {background-color: white;}
.sidebar a{
    text-decoration: none;
    
}
.sidebar a:hover{
    background-color: transparent !important;
}
.image{
  
    height: 70px;
    width: 70px;
    object-fit: contain;
    border-radius: 50%;
}
.menu {
   margin-top: 50px !important;
}
.menu h6{
    margin-top: 10px;
}
.active{
    color: red;
}
.default{
    text-decoration: none;
     color: rgb(135, 136, 140)
}



